<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xyz.hypertype.alfred-glyphsapp-documentation</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>D042FF73-35F0-47F4-B55B-A4AF431D56C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CB2A985-08C1-48D8-8FD2-68D0D1D5B850</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark Frömberg &amp; Hypertype</string>
	<key>description</key>
	<string>See all documented items from the Glyphs API and open them in the browser on selection</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GlyphsApp Documentation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳ fetching …</string>
				<key>script</key>
				<string>python3 glyphsapp-documentation.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Glyphs Documentation</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D042FF73-35F0-47F4-B55B-A4AF431D56C5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4CB2A985-08C1-48D8-8FD2-68D0D1D5B850</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># GlyphsApp Documentation for Alfred

made with 🤍 by Mark Frömberg &amp; Hypertype

Trigger the GlyphsApp Documentation with `gd` followed by a space. It will fetch all items from the documentation site. Continue typing your search to filter the results. Selecting an item opens the documentation in your default browser with that item selected for further reading.


# Requirements

- Alfred (tested with version 5)
- Python 3
- Connection to the internet

# Install

Download the latest release "GlyphsApp.Documentation.alfredworkflow" from [here](https://github.com/hyper-type/alfred-glyphs-docu/releases/) and double click to install in Alfred.

# Adjustments

If you don’t use `zsh`, change the "Language" in the Script Filter to `bin/bash`

# Improvements, Bugs, Features

Report them to [@Mark2Mark](https://github.com/Mark2Mark) or [@hyper-type](https://github.com/hyper-type) at GitHub:
[GlyphsApp Documentation Repo](https://github.com/hyper-type/alfred-glyphs-docu)</string>
	<key>uidata</key>
	<dict>
		<key>4CB2A985-08C1-48D8-8FD2-68D0D1D5B850</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>D042FF73-35F0-47F4-B55B-A4AF431D56C5</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>https://hypertype.xyz</string>
</dict>
</plist>
